.listing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;

  &-title {
    margin-bottom: 5rem;
  }
  &-form {
    width: 100%;
    &__inner {
      display: flex;
      column-gap: 3rem;
    }
  }
  &-label {
    display: flex;
    column-gap: 5px;
    align-items: center;
  }
}
.group {
  &-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &-checkbox {
    display: flex;
    align-items: center;
    column-gap: 20px;
    flex-wrap: wrap;
  }
  &-number {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    &__item {
      &-text {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
.add-data {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.add-pictures {
  width: 50%;
  display: flex;
  flex-direction: column;
  
  gap: 20px;
  &-group {
    display: flex;

    justify-content: space-between;
    gap: 3rem;
  }
}
