* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  background-color: rgb(241, 245, 241);
  font-size: 16px;
}
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}
$background-color: rgba(160, 172, 181, 0.995);
$text-color: #131313;
$form-color: rgb(250, 56, 43);
$btn-color: rgb(24, 81, 81);
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

button {
  background-color: $btn-color;
  cursor: pointer;
  border: none;
  color: white;
  width: 100%;
  border-radius: 3px;
  padding: 7px;
  transition: 0.2s;

  &:hover {
    opacity: 95%;
  }
  &:disabled {
    background-color: lighten($btn-color, 10%);
  }
  &:active {
    background-color: darken($form-color, 50%);
    transform: translateY(-2px);
  }
}
input,
textarea {
  border: 1.5px solid rgb(84, 81, 81);
  font-size: 1.5rem;
  border-radius: 3px;
  padding: 7px;
  outline: none;
  &:focus {
    border-color: $form-color;
  }
}
textarea {
  resize: none;
}
fieldset {
  border: none;
}

@import "header";
@import "signUp";
@import "profile";
@import "listing";
