* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  background-color: rgb(241, 245, 241);
  font-size: 16px;
}
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
$background-color: rgb(156, 155, 155);
$text-color: #131313;
$form-color: rgb(250, 56, 43);
$btn-color: rgb(24, 81, 81);
@import "header";
@import "signUp";
