.profile {
  margin-top: 3rem;

  &-inner {
    padding-bottom: 3rem;
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  &-title {
    font-size: xx-large;
    font-weight: 700;
  }
  &-img {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
  }
  &-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    &__element {
      width: 100%;
      border-radius: 4px;
      padding: 7px;
    }
  }
  &-upload {
    &__success {
      color: $btn-color;
    }
    &__error {
      color: $form-color;
    }
  }
  &-btn {
    width: 100%;
  }
}
.account {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: $btn-color;
  &__delete {
    cursor: pointer;
  }
  &__sign-out {
    cursor: pointer;
  }
}
.link {
  width: 100%;
}
.add-listing {
  background-color: $form-color;
  width: 100%;
}
.error {
  color: rgb(73, 150, 232);
  font-size: 20px;
  font-weight: 500;
}
.listing {
  &-cards {
    width: 100%;
    display: flex;
    flex-direction: column;

    row-gap: 2rem;
    &__title {
      text-align: center;
    }
  }
  &-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__image {
      width: 7rem;
      height: 5rem;
      object-fit: cover;
    }
  }
  &-buttons {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__delete {
      background-color: red;
    }
  }
}
