.search {
  margin: 30px 0;
  &-inner {
    display: flex;
    gap: 40px;
  }
  &-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__label {
      display: flex;
      column-gap: 6px;
      align-items: center;
    }
    &-group {
      display: flex;
      align-items: center;
      gap: 16px;
      flex-wrap: wrap;
    }
  }
  &-result {
    &__title {
      margin-bottom: 2rem;
    }
    &__inner {
      display: flex;

      flex-wrap: wrap;
      gap: 2rem;
      margin-bottom: 2rem;
    }
  }
  &-showmore {
    background-color: transparent;
    color: $form-color;
    font-size: medium;
    font-weight: 700;
    text-align: center;
  }
}
.form-group-name {
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}

@media (max-width: 650px) {
  .search {
    &-inner {
      flex-direction: column;
    }
  }
}
